<%= form_for(@ownership) do |f| %>
  <% if @ownership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ownership.errors.count, "error") %> prohibited this ownership from being saved:</h2>

      <ul>
      <% @ownership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.number_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :round %><br>
    <%= f.number_field :round %>
  </div>
  <div class="field">
    <%= f.label :pick %><br>
    <%= f.number_field :pick %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
